#MainPage{
    position: absolute;
    width: 1473px;
}

#Header{
    position: absolute;
}

#Main{
    position: absolute;
}

#News{
    position: absolute;
}

#Releases{
    position: absolute;
}

