.NewsBlock{
    position: relative;
    display: flex;
    width: 1473px;
    height: 1100px;
    z-index: 9;
    top: 890px;
    left: 0px;
    /* margin-left: -130px; */
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ADE320; 
    padding: 0;
    margin: 0;
}

.News{
    display: grid;
    position: relative;
    width: 1200px;
    height: 700px;
    top: 2px;
    left: 120px;
    border-radius: 90px;
    background-color: #FFFFFF;
    grid-template-rows: 164px 536px;
    z-index: 5;
}

.Title{
    position: relative;
    top: 32px;
    left: 0px;
    height: 64px;
    width: 1200px;
}

.Text{
    position: absolute;
    top: 0px;
    left: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.MoreNews{
    position: absolute;
    width: 240px;
    height: 52px;
    top: 30px;
    left: 930px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 90px 90px 90px 90px;
    border: 1px solid #8C8C8C;
    color: #8C8C8C;
    font-family: 'Montserrat' , sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: center;
}

.NewsB{
    position: relative;
    z-index: 9;
}

p{
    font-size: 36px;
    font-weight: 900;
    line-height: 43.88px;
    text-align: left;
    color: #22908B;
}

.BigNews{
    position: absolute;
    width: 600px;
    height: 536px;
    z-index: 1;
}

.LittleNews{
    position:absolute;
    display: grid;
    width: 600px;
    height: 536px;
    left: 600px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 600px;
}

.UpNews{
    z-index: 10;
}

.DownNews{
    position: relative;
    z-index: 10;
}

.ImageOfNews1{
    position: absolute;
    width: 531px;
    height: 467px;
    left: 58px;
    border: 3px 3px 3px 3px;
    z-index: 2;
    border: 3px solid #22908B;
    background-color: #22908B59;
    z-index: 5;
}

.ImageOfNews2{
    position: absolute;
    width: 493px;
    height: 200px;
    border: 3px 3px 3px 3px;
    z-index: 2;
    left: 44px;
    background-color: #B2D8D6;
    border: 3px solid #22908B;
    z-index: 5;
}

.ButtonOfNews1{
    position: relative;
    left: 180px;
    top: 308px;
    width: 252px;
    height: 52px;
    border-radius: 90px 90px 90px 90px;
    background-color: #22908B;
    z-index: 6;
}

.ButtonOfNews2{
    position: relative;
    width: 252px;
    height: 52px;
    top: 108px;
    left: 161px;
    border-radius: 90px 90px 90px 90px;
    background-color: #22908B;
    z-index: 6;
}

.TitleOfButton{
    position: absolute;
    width: 192px;
    height: 22px;
    top: 15px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    color: #FFFFFF;
}

.Headphones{
    position: absolute;
    z-index: 4;
    top: 400px;
    right: -75px;
}

#newsTitleDB{
    width: 100px;
    height: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    left: 80px;
    top: -15px;
}

.contentBack1{
    position: absolute;
    width: 1200px;
    background-color: #B2D8D6;
    height: 700px;
    border-radius: 70px;
    z-index: 3;
}

.news1{
    position: absolute;
    background-color: white;
    border: 6px solid #22908B;
    width: 1200px;
    height: 580px;
    top: 160px;
    left: 0px;
    border-radius: 60px;
    z-index: 3;
}

