.last{
  margin-top: 120px;
  max-height: 450px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.last::-webkit-scrollbar{
  width: 0;
}

.last .card{
  min-width: 400px;
  height: 400px;
  line-height: 362px;
  margin-right: 3px;
}

.scrolling{
  background-color: #fff;
  height: 700px;
  width: auto;
}

h2{
  position: relative;
  top: 60px;
  color: #ADE320;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.88px;
  text-align: center;
}

.releases{
  z-index: 8;
  position: relative;
  top: 1960px;
  width: 1473px;
  background-color: #ADE320;
  left: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.hands{
  position: relative;
  top: -160px;
  left: 367px;
}

#cardButton{
  min-width: 362px;
  height: 362px;
  line-height: 362px;
  margin-right: 3px;
  background-image: url(../components/releases/cardsImg/cardMore.png);
  border: 0;
}

