.header {
    color: white;
    background-color:#ADE320;
    height: 60px;
    width: 1473px;
    margin: -2px;
}

.header_row{
    top: 20px;
    position: relative;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

#PersonalAccountPage{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background-color: #ADE320;
    color: white;
}

#ReleasesPage{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    border: 0;
    background-color: #ADE320;
    color: white;
}

#NewsPage{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    border: 0;
    background-color: #ADE320;
    color: white;
}

button{
    
}