.header {
    color: white;
    background-color:#ADE320;
    height: 60px;
    width: 1473px;
    margin: -2px;
    top: 20px;
    display: inline-flex;
    justify-content: center;
}

#PersonalAccountPage{
    position: relative;
    top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    background-color: #ADE320;
    color: white;
}

#ReleasesPage{
    position: relative;
    top: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    border: 0;
    background-color: #ADE320;
    color: white;
}

#NewsPage{
    position: relative;
    top: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    border: 0;
    background-color: #ADE320;
    color: white;
}