body{
    margin: 0px;
}

.CreateRelease{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D93304;
}

#TitleOfRelease{
    position: absolute;
    width: 770px;
    height: 80px;
    top: 0px;
    left: 0px;
    border-radius: 60px;
    border: 2px;
    gap: 10px;
}

#NameOfArtist{
  position: absolute;
    width: 770px;
    height: 80px;
    top: 100px;
    left: 0px;
    border-radius: 60px;
    border: 2px;
    gap: 10px;
}

#AddImgRelease{
    position: absolute;
    width: 350px;
    height: 59px;
    top: 200px;
    left: 0px;
    padding: 0;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: white;
}

#AddAudio{
    position: absolute;
    width: 395px;
    height: 59px;
    top: 200px;
    left: 355px;
    padding: 0 10px 0 0 ;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: white;
}

.switch-btn {
    position: absolute;
    top: 120px;
    left: 576px;
    display: inline-block;
    width: 228px; /* ширина переключателя */
    height: 58px; /* высота переключателя */
    border-radius: 60px; /* радиус скругления */
    background:  #D93304;; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: 5px solid #FFFFFF;
    cursor: pointer;
    position: relative;
    transition-duration: 5s; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 58px; /* высота кнопки */
    width: 58px; /* ширина кнопки */
    border-radius: 29px; /* радиус кнопки */
    background: #22908B; /* цвет кнопки */
    top: 0px; /* положение кнопки по вертикали относительно основы */
    left: 0px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 5s; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: #D93304;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
  }
  .switch-on::after {
    left: 170px;
    background:#22908B;
  }

#TextOfSwitcherRelease{
    position: absolute;
    width: 152px;
    height: 34px;
    top: -15px;
    left: 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    text-align: left;
    color: white;
  }

#releaseForm{
  position: relative;
  border: 0;
  background-color: #D93304;
  top: 150px;
  height: 400px;
}

#SendForm{
  position: relative;
    width: 395px;
    height: 59px;
    top: 300px;
    left: 0px;
    padding: 15px 60px 15px 60px;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: #D93304;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    text-align: left;
    color: white;
}

#Content{
  position: relative;
  top: 280px;
  left: 0px;
  width: 600px;
  gap: 10px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
}